body {
    background-color: #f1f3f6;
}

.card {
    border-radius: 12px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.img-feed {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.text-truncate {
    max-height: 3em;
    overflow: hidden;
}
